<!DOCTYPE html>
<html>
<head>
  <title>Test homepage</title>
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; font-src data:;">
</head>
<body>
  <link rel="stylesheet" href='static/css/main.css'> 
  <div class="container">
    <header></header>
    <main>
      <div class="slogan">
        <h1 class="slogan-text">
          Art of Learning
        </h1>
      </div>
    </main>
    <footer></footer>
  </div>
  
</body>
</html>